.monthlyCalanderHolder{
    display: flex;
    flex-direction: column;
    width: 70vh;
    height: 70vh;
    background-color: greenyellow;
}

@media only screen and (max-width: 611px) {
    [class*="monthlyCalanderHolder"]{
        width: 100vw;
        height: 100vw;
        align-self: flex-start;
    }
}

.cutoffTask{
    width: 100%;
    padding: 0px 0px;
    overflow-x: hidden;
    white-space: nowrap;
    margin: 0;
    column-gap: 0;
    font-size: 60%;
    /* text-overflow: hidden; */ 
}



.monthlyRowHolder{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 14.28%;
}

.monthDay{
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    width: 14.28%;
    background-color: gray;
    /* flex-basis: 0%; */
}
.monthWeekDayLable{
    flex-grow: 1;
}
.monthWeekDayLableHolder{
    color: black;
    display: flex;
    flex-direction: row;
}

.vewAllTasksButton{
    z-index: 1;
    font-size: x-small;
}

@media only screen and (max-width: 768px) {
    [class*="showTasksButton"]{
        margin-left: 5px;
        margin-top: 0px;
        flex-direction: column;
    }
}


