.monthlyCalanderHolder{
    display: flex;
    flex-direction: column;
    width: 70vh;
    height: 70vh;
    background-color: greenyellow;
}

@media only screen and (max-width: 611px) {
    [class*="monthlyCalanderHolder"]{
        width: 90vw;
        height: 90vw;
    }
}



.monthlyRowHolder{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.monthDay{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: gray;
}
.monthWeekDayLable{
    flex-grow: 1;
}
.monthWeekDayLableHolder{
    color: black;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    [class*="showTasksButton"]{
        margin-left: 5px;
        margin-top: 0px;
        flex-direction: column;
    }
}


