.wheelToSpin{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-color: white;
    width: 70vh;
    height: 70vh;
    justify-content: center;
    /* margin-top: 3%; */
    /* margin-left: 0%;
    margin-right: 0%; */
    /* order: 2; */
    filter: drop-shadow(#6c8277 5px 5px 5px);

}

@media only screen and (max-width: 768px) {
    [class*="wheelToSpin"]{
        margin-bottom: 10%;
        width: 45vh;
        height: 45vh;
    }
}

:root {
    --rotation-deg: 360deg;
}
.runAnimation{
    animation: spin 5s;
    animation-fill-mode: forwards;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(var(--rotation-deg));}
}



.line{
    display: flex;
    height: 1px;
    background-color: teal;
    border: none;
    width: 70vh;
    position: absolute;
}

@media only screen and (max-width: 768px) {
    [class*="line"]{
        width: 45vh;
    }
}
    
.image{
    width: 8vh;/*If you change the length or width of this, you must also change a line commented in rewards.js in the openRewards function*/
    height: 8vh;
    position: absolute;
    background: none;
    z-index: 1;
    opacity: 100%;
}

@media only screen and (max-width: 768px) {
    [class*="image"]{
        width: 6vh;
        height: 6vh;
    }
}

.arrow{
    width: 0; 
    height: 0; 
    border-left: 3vh solid transparent; 
    border-right: 3vh solid transparent; 
    border-top: 3vh solid teal; 
    /* Citation: *    Title: How to Create Triangle with CSS?
*    Author: GeeksforGeeks
*    Date: November 15, 2024
*    Code version: ?
*    Availability: https://www.geeksforgeeks.org/how-to-create-triangle-in-css/ */
    position: relative;
    /* left: 32vh;
    bottom: 35vh; */
    bottom: -10px;
    z-index: 1;
    filter: drop-shadow(#6c8277 1px 1px 1px);
    
}

.winner{
    width:auto;
    height: 45dvh;
    z-index: 1;
    background: transparent;
    display: flex;
    /* top: 30%; */
    /* left: 10%; */
    /* position: absolute; */
    /* right: 75dvw; */
    /* order: 1; */
    opacity: 100%;
}

.displayWinner{
    width: auto;
    height: 10dvh;
    position: relative; 
    /* right: 75dvw; */
    opacity: 100%;
 }

.containSpin{
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    
}

@media only screen and (max-width: 768px) {
    [class*="containSpin"]{
    flex-direction: column;   
    align-items: center; 
    }
}

.cont{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* @media only screen and (max-width: 768px) {
    [class*="cont"]{
    
    }
} */
.displayCase{
    /* flex-direction: column; */
    background-color: #d8e4de;
    width: 20dvw;
    height: 70dvh;
    /* position: absolute; */
    /* justify-items: center; */
    /* right: 75dvw;
    margin-top:25dvh; */
    margin-right: 15dvw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    filter: drop-shadow(#6c8277 5px 5px 5px);
    border-radius: 7px;
    overflow: scroll;
}

@media only screen and (max-width: 768px) {
    [class*="displayCase"]{
        position: relative;
        margin-right: 0%;
        /* margin-top: 5%; */
        width: 70vw;
        
    }
}
