.wheelToSpin{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-color: white;
    width: 70vh;
    height: 70vh;
    justify-content: center;
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 0%;

}

:root {
    --rotation-deg: 360deg;
}
.runAnimation{
    animation: spin 5s;
    animation-fill-mode: forwards;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(var(--rotation-deg));}
}



.line{
    display: flex;
    height: 1px;
    background-color: teal;
    border: none;
    width: 70vh;
    position: absolute;
    
}
.image{
    width: 8vh;/*If you change the length or width of this, you must also change a line commented in rewards.js in the openRewards function*/
    height: 8vh;
    position: absolute;
    background: none;
    z-index: 1;
}

.arrow{
    width: 0; 
    height: 0; 
    border-left: 3vh solid transparent; 
    border-right: 3vh solid transparent; 
    border-top: 3vh solid teal; 
    position: absolute;
    top:22.5%;
}

@media only screen and (max-width: 768px) {
    [class*="arrow"]{
        top: 19%;

    }
}
@media only screen and (max-height: 768px) {
    [class*="arrow"]{
        top: 30vh;

    }
}

.winner{
    width:70vh;
    height: 70vh;
    z-index: 1;
    background-color: white;
    display: absolute;
    top: 30%;
}

    
