.patrick-hand-regular {
    font-family: "Patrick Hand", serif;
    font-weight: 400;
    font-style: normal;
}
  
.signInBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Patrick Hand", sans-serif;
    font-size: 20px;
    background-image:url("Background\ for\ Website\ 02.jpg");
}

.signInForm{
    display: flex;
    flex-direction: column;
}

.submitButton{
    width: fit-content;
}

.inputLine{
    display: flex;
    flex-direction: row;
}


input[type="text"]{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    /* height: 3dvh; */
    margin-bottom: 2%;
    align-items: flex-start; 
    filter: drop-shadow(#6c8277 5px 5px 5px);
}
input[type="password"]{
    display: flex;
    flex-direction: row;
    margin-left: 1.7%;
    /* height: 3dvh; */
    margin-bottom: 2%;
    align-items: flex-start;
    filter: drop-shadow(#6c8277 5px 5px 5px);
}

input[type="checkbox"]{
    width: 2dvh;
    filter: drop-shadow(#6c8277 5px 5px 5px);

}



label{
    margin-bottom: 2%;
    white-space: nowrap;
}

button{
    font-family: "Patrick Hand", sans-serif;
    background-color: white;
    outline: none;
    border: none;
    margin-right: 2%;
    border-radius: 7px;
    color:#278a8f;
    font-size: 15px;
    margin-top: 5%;
    filter: drop-shadow(#6c8277 5px 5px 5px);
}

.subtitle{
    font-size: 60%;
    font-weight: light;
    /* white-space: wrap; */
    /* width: 50% */
    font-style: italic;
    margin-top: 0px;
}