.body{
    display: flex;
    flex-direction: column;
    background-image:url("Background\ for\ Website\ 02.jpg");
    background-size: 100%;
    align-items: center;
    height: contain;
    width: contain;
}
.rubik-vinyl-regular {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
  }

.patrick-hand-regular {
    font-family: "Patrick Hand", serif;
    font-weight: 400;
    font-style: normal;
  }

.gorditas-regular {
    font-family: "Gorditas", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.gorditas-bold {
    font-family: "Gorditas", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  

.title{
    display: flex;
    color: #074852;
    font-family: "Gorditas", sans-serif, serif;
    font-size: 40px;
}

.tab{
    overflow: hidden;
    background-color: transparent;
    display: flex;
    width: 90%;
    justify-content: space-between;
  }
  
.tablinks {
    float: left;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 16px;
    transition: 0.3s;
    font-size: 20px;
    font-family: "Rubik Vinyl", sans-serif;
  }



.taskSection{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px 12px;
    width: 90%;
    /* align-self: flex-start; */
    
    background-color: white;
    border-radius: 25px;
    white-space: wrap;
}

.tablinks:hover {
    color: #076c6a;
}

.noTaskMessage{
    color: orange;
    font-size: x-large;
}

.aTaskDisplay{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-self: flex-start;
    background-color: #d3e4db;
    border-radius: 7px;
    width: fit-content;
    padding: 2px 10px;
    margin-top: 10px;
    font-family: "Patrick Hand", sans-serif;
    color: black;
    font-weight: normal;
}

.newTaskButton{
    width: max-content;
    margin-bottom: 15px;
    align-self: center;
    background-color: #74b2cc;
    border: none;
    border-radius: 7px;
    padding: 2px 10px;
    font-size: 15px;
    font-family: "Patrick Hand", sans-serif;

}

.newTaskButton:hover{
    background-color: #0d445b;
    color: white;
    transition: .5s;
}


.addNewTaskScreen{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: 30%;
    background-color: #076c6a;
    min-width: 40%;
    min-height: 40%;

}
.addNewTaskScreenRow{
    display: flex;
    flex-direction: row;
}


.allTasks{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-family: "Patrick Hand", sans-serif;
    color:#278a8f;
    justify-content: space-between;
    max-width: 94%;
}






.aDate{
    font-weight: lighter;
    font-size: small;
    font-family: "Patrick Hand", sans-serif;
    display: flex;
    align-items: center;
}


.timeButton{
    background-color: white;
    border: none;
    outline: none;
    border-radius: 7px;
    margin-right: 6px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 2px 4px;
    font-family: "Patrick Hand", sans-serif;
    font-size: 15px;
}

.cancelCreate{
    position: absolute;
    bottom: 10px;
    margin-inline-start: 10px;
}


.newTaskText{
    margin-right: 6px;
    margin-top: 30px;
    font-family: "Patrick Hand", sans-serif;
    color: white;
    margin-inline-start: 20px;
}

.newTaskBox{
    margin-top: 30px;
    
}


.addNewTaskScreen{
    border-radius: 25px;
    background-color: #55746f;
}

.daySelectionMenu{
    width: min-content;
}