.body{
    display: flex;
    flex-direction: column;
    background-color: #f0fcfc;
    align-items: center;
}
.rubik-vinyl-regular {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
  }

.title{
    display: flex;
    color: #0b7d7b;
    font-family: "Rubik Vinyl", sans-serif;
}

.tab{
    overflow: hidden;
    border: 1px solid #f0fcfc;
    background-color: #f0fcfc;
    display: flex;
    width: 1000px;
    justify-content: space-between;
  }
  
.tablinks {
    float: left;
    border: none;
    outline: none;
    background-color: #f0fcfc;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-family: "Rubik Vinyl", sans-serif;
  }

.tablinks:hover {
    color: #0b7d7b;
}
